.info-block {
    display: block;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 44px 0px;
    border: none;
    color: #747474;
    margin-bottom: 30px;
}

.sprite-guarantee-icon {
    background-position: 0 -74px;
    width: 28px;
    height: 37px;
}

.fstyle {
    font-family: "Futura-Normal", Arial !important;
    font-size: 32px;
    color: #000 !important;
}

.tac {
    text-align: center;
}



/*////////////////TOP NAV BAR////////////////*/


.social{color:#FFF;display:inline-block;padding:5px;text-decoration: none;}

.tools{margin:0px;padding:0px;list-style-type:none;}
.tools li{list-style-type: none;display:inline-block;}
.tools li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
}

.cart-heart a{display:inline-block;color:#fff;font-size:20px;padding:5px;}

/*FOOTER START///////////////////*/

.footer {
    padding: 50px 0 20px 0;
    background-color: #333333;
    color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}